
body{
  color: white;
  background-image: url("https://priyom.org/media/71188/optimized-sdrbackground4.jpg");
  background-size: cover;
  margin: auto;
  
}

h1{
  color: red;
  text-align: center;
  margin: auto;
}

