
body{
  color: white;
  
  background-size: cover;
  margin: auto;

}

h2{
  color: white;
  text-align: center;
  margin: auto;
}

h3{
  color: white;
  text-align: center;
  margin: auto;
}
/*
.container{
  place-items: center;
}
*/
.container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

